doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title
    body
        h1 These are the books
        ul
            each book in books
                li 
                    p= book.name 
                    p= `by ${book.author.name}`